{% extends "/base.html" %}
{% set active_page = "accueil" %}
{% block content %}

<P style="text-align:center"><img src="/img/logo.png" alt="logo simplementphoto"></P> 

<!-- Typography
================================================== -->
<section id="typography">
  <div class="page-header">
    <h4>Votre photographe, pour de belles photos en toute simplicité</h4>
    <strong>Chambéry, Aix les bains, avant pays savoyard</strong><br>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">
	  
    <div class="span4">
      <div class="well">
        <h3>Contact</h3>
      <address>
        <strong>Gaëlle Hermange</strong><br>
        <abbr title="Phone">P:</abbr> 06 34 21 03 43
      </address>
      <address>
        <strong>Email</strong><br>
        <a href="mailto:#">simplementphoto@gmail.com</a>
      </address>
    </div>
    </div>
	  
    <div class="span4">
      <h3></h3>
      <p></p>
    </div>
	
    <div class="span4">
      <h3>Professionnels, entreprises contactez moi pour un devis</h3>
      <strong></strong><br>
      
    </div>

  </div>

</section>

{% endblock %}
